@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* ==================== Variáveis ====================  */

:root {
  --primary-color: #03461f;
  --black: #000;
  --white: #fff;
  --font-family: Roboto, sans-serif;
  --nav-links-gap: 2rem;
  --button-border-radius: 10px;
  --btn-opacity-transition: 0.85;
  --transition-time: 300ms;
}

/* ==================== Reset ====================  */

* {
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--black);
}

p {
  padding: 1rem;
  line-height: 1.6;
}

img {
  width: 100%;
  height: auto;
}

/* ==================== Utilidades ====================  */

.container {
  position: relative;
  max-width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container a:hover {
  text-decoration: underline;
}

/* ==================== Botões ====================  */

.btn {
  border-radius: var(--button-border-radius);
  text-decoration: none;
  padding: 0.8rem 2rem;
  text-align: center;
  transition: all var(--transition-time) ease-in-out;
  cursor: pointer;
}

.btn:hover {
  text-decoration: none;
  opacity: var(--btn-opacity-transition);
}

.btn.black {
  color: var(--white);
  background: var(--black);
}

.btn.started {
  color: var(--white);
  background: var(--primary-color);
}

.btn.transparent {
  color: var(--black);
  border: 1px solid var(--black);
}

.btn.transparent:hover {
  opacity: 1;
  color: var(--white);
  background-color: var(--black);
}

/* ==================== Conteúdo ====================  */
main {
  display: flex;
  margin-top: 1.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.content-left {
  display: flex;
}

.content-actions,
.nav-links {
  gap: var(--nav-links-gap);
  align-items: center;
  list-style: none;
  display: flex;
  margin: 0.5rem;
  padding: 0;
  justify-content: center;
}

.nav-links {
  margin: 1rem 3rem;
}

.content-info {
  flex: 2;
}

.content-info h1 {
  font-weight: bold;
  font-size: 58pt;
  padding: 2rem;
  margin: 0;
}

.content-img {
  flex: 3;
}

@media screen and (max-width: 1200px) {
  main {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .content-img {
    display: none;
  }
}
