@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --primary-color: #03461f;
  --black: #000;
  --white: #fff;
  --font-family: Roboto, sans-serif;
  --nav-links-gap: 2rem;
  --button-border-radius: 10px;
  --transition-time: 300ms;
}

* {
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: var(--black);
}

.container {
  position: relative;
  max-width: 100vw;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-right {
  display: flex;
}

.content-actions,
.nav-links {
  gap: var(--nav-links-gap);
  align-items: center;
  list-style: none;
  display: flex;
  margin: 0.5rem;
  padding: 0;
  justify-content: center;
}

.nav-links {
  margin: 1rem 3rem;
}

.container a:hover {
  text-decoration: underline;
}

.btn {
  border-radius: var(--button-border-radius);
  padding: 0.9rem;
  width: 4rem;
  height: 1rem;
  text-align: center;
  transition: all var(--transition-time);
}

.btn:hover {
  text-decoration: none;
  opacity: 0.9;
}

.btn.black {
  color: var(--white);
  background: var(--black);
}

.btn.started {
  width: 6rem;
  color: var(--white);
  background: var(--primary-color);
}

main {
  display: flex;
  margin-top: 4rem;
}

.content-info {
  width: 50%;
  margin-left: 2rem;
}

.content-info h1 {
  font-weight: bold;
  font-size: 58pt;
  padding: 2rem;
  margin: 0;
}

p {
  padding: 1rem;
  line-height: 1.6;
}

.free {
  padding: 1rem;
  width: 6rem;
  color: var(--black);
  text-align: center;
  text-decoration: none;
  border-radius: var(--button-border-radius);
  border: 1px solid var(--black);
  transition: all var(--transition-time) ease-in-out;
}

.free:hover {
  color: var(--white);
  background-color: var(--black);
}

.content-img {
  width: 80%;
  margin-right: 2rem;
  background: url("./Asset/img/person.png") no-repeat;
  background-position-x: 20%;
  background-clip: cover;
}
