@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  font-family: Roboto, sans-serif;
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #fdf7f2;
}
a {
  text-decoration: none;
  color: #000;
}
main{
    display: flex;
}
aside{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 width: 30%;
 height: 100vh;
}
.sign-ilustratation{
  max-width: 100%;
}

section{
    flex: 1;
    overflow: auto;
}